@model cmsSystem.Models.Comment

@{
    ViewData["Title"] = "Läs Kommentar";
}

<h1>Läs kommentar</h1>

<div>
    <hr />
    <dl class="row">
        <!--
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentName)
        </dd> -->
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentPost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentPost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
        <dt class = "col-sm-2">
           Nyhetsinlägg:
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.News.Title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Tillbaka</a>
</div>
