@model IEnumerable<cmsSystem.Models.Comment>

@{
    ViewData["Title"] = "Index";
}

<h1>Kommentarer</h1>
<!--
<p>
    <a asp-action="Create">Create New</a>
</p> -->
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CommentName)
            </th>
            <th>
                Nyhetsinlägg
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CommentPost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentName)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.News.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CommentPost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/file.png" class="icon" alt="knapp för att se detaljer"/></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/delete.png" class="icon" alt="knapp för radering"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
