@model cmsSystem.Models.Widget

@{
    ViewData["Title"] = "Radera Widget";
}

<h3>Är du säker på att denna widget ska raderas?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidgetTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetText)
        </dt>
        <dd class = "col-sm-10">
              @Html.Raw(@Model.WidgetText.ToString())
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidgetColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
               <img decoding="async" src="@("~/imageupload/"+Model.ImageName)" alt="uppladdad bild" asp-append-version="true"  width="280" height="200"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
    </dl>
    <br>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Radera" class="btn btn-danger" /> |
        <a asp-action="Index">Tillbaka</a>
    </form>
</div>
