@model cmsSystem.Models.Widget

@{
    ViewData["Title"] = "Wiget";
}

<h1>Widget</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidgetTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetText)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(@Model.WidgetText.ToString())
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidgetColor)
        </dd>
        <dt class = "col-sm-2">
            Uppladdad bild:
        </dt>
        <dd class = "col-sm-10">
           <img decoding="async" src="@("~/imageupload/"+Model.ImageName)" alt="uppladdad bild" asp-append-version="true"  width="280" height="200"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Redigera</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
