@model cmsSystem.Models.Widget

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Widget</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidgetTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidgetText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WidgetColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WidgetColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Color)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Color)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Display)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Display)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
