@model IEnumerable<cmsSystem.Models.Widget>

@{
    ViewData["Title"] = "Widget";
}

<h1>Widget</h1>

<p>
      <a asp-action="Create"><img src="~/icons/add.png" class="icon" alt="knapp för att lägga till widget"/>Skapa ny</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WidgetTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WidgetText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageName)
            </th>
            <th>
                Bild-text:
            </th>
            <th>
                Aktiverad:
            </th>
            <th>Hantera:</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WidgetTitle)
            </td>
            <td>
            @if (item.WidgetText.Length >= 50)
                {
                    @Html.Raw(item.WidgetText.Substring(0, 50))
                }
                else
                {
                @Html.Raw(item.WidgetText) //"Html Raw" Gör så att inte html taggar skrivs ut
                }
            </td>
            <td>
                <div class="listColor" style="background-color: @(@item.WidgetColor) ">
              <!--  @Html.DisplayFor(modelItem => item.WidgetColor) -->
                </div>
            </td>
            <td>
                  <img decoding="async" src="@("~/imageupload/"+item.ImageName)" alt="Miniatyr av uppladdad bild" asp-append-version="true"  width="80" height="60"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltText)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Display)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/change.png" class="icon" alt="knapp för redigering"/></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/file.png" class="icon" alt="knapp för att se detaljer"/></a> 
                <a asp-action="Delete" asp-route-id="@item.Id"><img src="~/icons/delete.png" class="icon" alt="knapp för radering"/></a>
            </td>
        </tr>
}
    </tbody>
</table>
