@model cmsSystem.Models.Footer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Footer</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FontColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FontColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FooterEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FooterEmail)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
