@model IEnumerable<cmsSystem.Models.Header>

@{
    ViewData["Title"] = "Header";
}

<h1>Header</h1>
<!-- 
<p>
    <a asp-action="Create">Skapa din Header</a>
</p>-->
<p></p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titel:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SubTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Font)
            </th>
            <th>
                Textfärg:
            </th>
            <th>
               Menyfärg:
            </th>
            <th>
              Header:
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogoName)
            </th>
            <th>Hantera:</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
                        <td>
                @Html.DisplayFor(modelItem => item.SubTitle)
            </td>
            <td>
               @if (item.Font.Length >= 15)
                {
                    @Html.Raw(item.Font.Substring(0, 15))
                }
                else
                {
                @Html.Raw(item.Font) //"Html Raw" Gör så att inte html taggar skrivs ut
                }
            </td>
            <td>
                 <div class="listColor" style="background-color: @(@item.FontColor)"></div> 
               <!-- @Html.DisplayFor(modelItem => item.FontColor) -->
            </td>
            <td>
                 <div class="listColor" style="background-color: @(@item.NavColor)"></div> 
               <!-- @Html.DisplayFor(modelItem => item.NavColor) -->
            </td>

            <td>
                  <img decoding="async" src="@("~/imageupload/"+item.ImageName)" alt="Miniatyr av uppladdad bild" asp-append-version="true"  width="80" height="50"/>
            </td>
            <td>
                  <img decoding="async" src="@("~/imageupload/"+item.LogoName)" alt="Miniatyr av uppladdad bild" asp-append-version="true"  width="60" height="60"/>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><img src="~/icons/change.png" class="icon" alt="knapp för redigering"/></a> 
                <a asp-action="Details" asp-route-id="@item.Id"><img src="~/icons/file.png" class="icon" alt="knapp för att se detaljer"/></a> 
            </td>
        </tr>
}
    </tbody>
</table>

