@model cmsSystem.Models.About

@{
    ViewData["Title"] = "Visa innehåll | Om Oss";
}

<div>
    <h4>Om-Oss</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutText)
        </dt>
        <dd class = "col-sm-10">
            @Html.Raw(@Model.AboutText.ToString())
        </dd>
        <dt class = "col-sm-2">
            Uppladdad bild:
        </dt>
        <dd class = "col-sm-10">
              <img decoding="async" src="@("~/imageupload/"+Model.AboutImage)" alt="uppladdad bild" asp-append-version="true"  width="280" height="200"/>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltText)
        </dd>
    </dl>
</div><br><br>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Redigera</a> |
    <a asp-action="Index">Tillbaka</a>
</div>
