@model cmsSystem.Models.About

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>About</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutText)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AboutImage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AboutImage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AltText)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AltText)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
