@model IEnumerable<cmsSystem.Models.About>

@{
    ViewData["Title"] = "Index";
}

<h1>Om oss</h1>
    <p>Lägg till information om företaget som visas på sidan "Om-Oss" </p>
<p>
    <a asp-action="Create">Create New</a><br> <br>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AboutTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutText)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AboutImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AltText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AboutTitle)
            </td>
            <td>
            @if (item.AboutText.Length >= 50)
                {
                    @Html.Raw(item.AboutText.Substring(0, 50))
                }
                else
                {
                @Html.Raw(item.AboutText) //"Html Raw" Gör så att inte html taggar skrivs ut
                }
            </td>
            <td>
                  <img decoding="async" src="@("~/imageupload/"+item.AboutImage)" alt="Miniatyr av uppladdad bild" asp-append-version="true"  width="80" height="60"/>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AltText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
